:root {
  --greenColor: #327f17;
  --lighterGreen: #56ad3c;
  --greenOne: #168a13;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-brand {
  color: var(--greenColor);
}

.nav-btn {
  background-color: var(--greenColor);
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  border: none;
  transition: all 0.3s ease-in-out;
}