:root {
  --greenColor: #327f17;
  --lighterGreen: #56ad3c;
  --greenOne: #168a13;
  --primary-bg: #f8f9fa;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.2rem;
}

.bg-success {
  background-color: var(--greenColor) !important;
}

.text-success {
  color: var(--greenColor) !important;
}

.btn-success {
  background-color: var(--greenColor) !important;
  border-color: var(--greenColor) !important;
}

.nav-brand {
  color: var(--greenColor);
}

.nav-btn {
  background-color: var(--greenColor);
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  border: none;
  transition: all 0.3s ease-in-out;
}

.service-icon {
  color: #168a13;
}

.service-icon-container {
  font-size: 3rem;
  color: var(--greenColor);
  /* Matches your existing color scheme */
}

.service-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.service-card-title {
  font-size: 1.25rem;
}

.service-card-text.small {
  font-size: 0.9rem;
  color: #6c757d;
}

.feature-icon {
  font-size: 1rem;
  color: var(--greenColor);
}

.auth-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-bg);
  padding: 1rem;
}

.form {
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}